body {
    font-size:0.8em;
    font-family: sans-serif
}
ul {
  margin-left: 24px;
}
#confirm_wrapper {
    border: 1px solid #000000;
    border-radius: 2px;
    padding: 8px;
    width: 248px;
    margin: 2px;
}
body{
    font-size:0.8em;
}
.confirm_button{
    display: none;
}
